@import:'https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&latin';

.title {
	font-size: 2000px;
	}

html, body {
  background-color: #5d5d5e;
  color: #fff;
}

html *
{
   font-family: 'Fira Sans Extra Condensed', sans-serif;
}

div.slidy_toc {
 
  background: #101010;
  border-style: solid;
  border-width: 0px;
  font-size: 80%;
  color: #48C9B0; 
}

td,th { 
	padding: 0.2em;
	background: white;
	color: #101010;
 }

a:link {
  color: #48C9B0;
}

a:visited {
  color: #48C9B0; 
}
img {
  max-width: 70%;
}

 div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
  font-size: 84px;
}


.caption {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

  .table { 
    border-spacing: 0px;
    font-size: 26px;
    width: 50%;
    line-height: 19px;
    margin: auto;
    padding: 15px;
    }


h1 {
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 32px;
}
h3 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
