@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext);


html, body {
  background-color: #5d5d5e;
  color: #fff;
  width: 100%;
  height: 100%;
}

html *
{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight:  
	
}

ul
{
  margin: 0px 0px 0px 100px;
  padding: 0 0 0 0;

 
}

div.slide h1 {
  padding-left: 0;
  padding-right: 0pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 5pt;
  margin-bottom: 0.5em;
  display: block; 
  font-size: 160%;
  line-height: 1.2em;
  width: 100%;

}


div.slidy_toc {
 
  background: #ebf9f6;
  border-style: solid;
  border-width: 0px;
  font-size: 80%;
  color: #48C9B0; 
}

td { 
	padding: 0.2em;
	color: #1d6254;
	border-width: 0px;
 }


th {
	padding: 0.2em;
	background: #35b19e;
	color: #1d6254;
        border-width: 0px;
}

tr:nth-child(even) {
	background: #9de2d4;
	 border-width: 0px;
}

tr:nth-child(odd) {
	background: #d8f3ee;
	 border-width: 0px;
}
	
a:link {
  color: #48C9B0;
}

a:visited {
  color: #48C9B0; 
}
img {
  max-width: 70%;
}

 div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
  font-size: 84px;
}


.caption {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

  .table { 
    border-spacing: 0px;
    font-size: 21px;
    width: 40%;
    line-height: 19px;
    margin: 1px;
    padding: 1px;
    }


h1 {
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 32px;
}
h3 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
