@import:'https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&latin';

html, body {
  background-color: #5d5d5e;
  color: #fff;
}

html *
{
   font-family: 'Fira Sans Extra Condensed', sans-serif;
}

a:link {
  color: #48C9B0;
}

a:visited {
  color: #48C9B0; 
}
img {
  max-width: 70%;
}

 


.caption {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

  table { 
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 23px;
    width: 75%;
    line-height: 19px;
    margin: auto;
  }


h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
